#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 40px;
  left: 40px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #403e3e;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000000;
  box-shadow: 2px 2px 6px rgba(223, 208, 208, 0.4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #f3ce96;
}

.general_block{
  display: flex;
  align-items: center;
    justify-content: space-around;
  margin-left: 100px;
    margin: 3%;
    padding: 1%;
}

.block{
  display: flex;
  align-items: center;
  flex-direction: column;
  
  padding: 29px;
}

.heading{
  position: absolute;
  left: 300px;
 top: 10px;
 font-family: Brush Script MT, Brush Script Std, cursive;
 font-size: 30px;
 
}

p{
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width:800px){
  .general_block{
    display: flex;
    flex-direction: column;
  }
}

h2{
  font-family: Brush Script MT, Brush Script Std, cursive;
  margin-left: 100px;
  color: #ffffff;
}

.menu{
  text-decoration: none;
  color: #403e3e;
}

.about{
  display: flex;
  align-items: center;
    justify-content: space-around;
 
    margin: 5%;
    padding: 1%;
}

.about1{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 15px;
}


.about2{
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 15px;
}

.about3{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding: 15px;
}

#img .about1{
  margin-right: 100px;
}

.cos{
  margin-right: 130px;
}

.top{
  margin-left: 100px;
  margin-top: 180px;
  font-size: 60px;
}
h5{
  color: rgb(64, 53, 53);
}

@media (max-width:800px){
  .about{
    display: flex;
   flex-direction: column;
   margin: 3%;
   padding: 5%;
  }
  .two{
    font-size: 30px;
  }
}

.ring{
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 100px;
  margin-top: 60px;
}

.font{
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 140px;
 margin-bottom: 60px;
}

.all{
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.right{
  background-color:rgb(223, 216, 200);
  width: 900px;
  height: 630px;
}

.none{
  margin-left: 600px;
  font-size: 66px;
}

.coss{
  display: flex;
  align-items: center;
    justify-content: space-around;
  margin-left: 100px;
    margin: 3%;
    padding: 1%;
}

.bobs1{
  margin-left: 100px;
}

.men{
  margin-left: 240px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.men12{
  margin-left: 320px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.mens{
  margin-left: 250px;
}

.mens12{
  margin-left: 310px;
}

@media (max-width:800px){
  .coss{
    display: flex;
   flex-direction: column;
   margin: 3%;
   padding: 5%;
  }
  .name{
    display: flex;
    flex-direction: column;
  }

  .all{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding: 100px;
   width: 100%;
   margin: 100px;
  }
  
  .ring{
   font-size: 15px;
   }
  .left{
   margin-right: 130px;
   font-size: 50px;  
  }
  .font{
    font-size: 15px;
  }

  .none{
    margin-left: 100px;
  }
  .top{
    font-size: 40px;
   
  }
  h5{
    font-size: 15px;
    margin: 30px;
  }
}

.catalog{
  display: flex;
  align-items: center;
  justify-content: space-around; 
}

.me{
  text-decoration: none;
  color: #000000;
  margin-left: 215px;
}
.m{
  margin-left: 210px;
}

@media (max-width:800px){
  .catalog{
    display: flex;
   flex-direction: column;
  }
}



.clients{
  display: flex;
  align-items: center;
  justify-content: space-around;
 background-color:rgb(223, 216, 200);
 width: 100%;
}

.one{
  margin: 30px;
  padding: 15px;
 background-color: rgb(246, 241, 235);
 width: 380px;
height: 420px;
margin-top: 200px;
}


.full{
  margin-top: 20px;
}

.imgg{
margin-top: 100px;
}

.fontt{
  margin-left: 100px;
  font-size: 55px;
  margin-top: 100px;
}

@media (max-width:768px){
  .clients{
    display: flex;
   flex-direction: column;
  
  }
  .one{
   width: 400px;
    margin: 3%;
    
  }
  .gon{
    font-size: 15px;
    margin: 10px;
  }
  .fontt{
    font-size: 45px;  
  }

  .model{
    width: 100%;
    height: auto;
  }
  .model2{
    width: 470px;
    height: auto;
    margin-right: 260px;
  }
  .right{
    width: 100%;
    height: auto;
    margin-right: 390px;
  }
  .model3{
    width: 450px;
    height: auto;
   
  }
  .model4{
    width: 450px;
    height: auto;
   
  }
}

footer{
  background-color: #000000;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
 
}

.footer2{
  display: flex;
  flex-direction: column;
margin: 400px;
}

.foot{
  display: flex;
  flex-direction: column;
}

.menu5{
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.lovver{
  font-size: 45px;
}

.non1{
  font-size: 20px;
  color: rgb(255, 255, 255);
}

@media (max-width:768px){
  footer{
    display: flex;
   flex-direction: column;
  background-color: #000000;
  width: 100%;
  height: auto;
  }
  .footer2{
    margin: 20px;
  }
}


.nature{
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 40px;
  margin-left: 120px;
}

.home{
  display: flex;
  align-items: center;
 margin: 50px;
}

.balzam1{
 font-size: 35px;
}

p a {
  font-family:'Times New Roman', Times, serif;
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: 15px;
}

.link_button_active {
  position: absolute;
  margin-left: 230px;
  text-align: start;
  width: 200px;
  height: 20px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

p a {
  border: 5px solid rgb(255, 255, 255,);
  background-color: rgb(0, 0, 0);
  color: antiquewhite;
  text-decoration: none;
  display: block;
  padding: 12px;
}

p {
  display: inline-block;
  
}


.link_button_active p a:hover {
  background-color: rgb(174, 162, 148);
  color: azure;
}

.link_button p a:hover {
  background-color: rgb(174, 162, 148);
  color: azure;
}

.balzam{
  font-size: 15px;
} 

.balzam2{
  font-size: 20px;
}


@media (max-width:768px){
  .home{
    display: flex;
    flex-direction: column;
  }
}

.menu{
  color: rgb(78, 75, 75);
}

.model{-webkit-animation:scale-up-center .9s cubic-bezier(.39,.575,.565,1.000)
   alternate both;animation:scale-up-center .9s cubic-bezier(.39,.575,.565,1.000) alternate both}

   /* ----------------------------------------------
 * Generated by Animista on 2023-5-4 12:6:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes model{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}


.general_block{-webkit-animation:scale-up-center .8s cubic-bezier(.39,.575,.565,1.000)
  alternate both;animation:scale-up-center .8s cubic-bezier(.39,.575,.565,1.000) alternate both}

  /* ----------------------------------------------
* Generated by Animista on 2023-5-4 12:6:22
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

@-webkit-keyframes general_block{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}@keyframes scale-up-center{0%{-webkit-transform:scale(.5);transform:scale(.5)}100%{-webkit-transform:scale(1);transform:scale(1)}}



.about{-webkit-animation:scale-up-right .6s cubic-bezier(.39,.575,.565,1.000) both;animation:scale-up-right .6s cubic-bezier(.39,.575,.565,1.000) both}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-4 12:11:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes about{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 50%;transform-origin:100% 50%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 50%;transform-origin:100% 50%}}@keyframes scale-up-right{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 50%;transform-origin:100% 50%}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 50%;transform-origin:100% 50%}}
